.purple {
  background-color: purple;
  color: #ffffff;
}

.darkblue {
  background-color: darkblue;
  color: #ffffff;
}

.green {
  background-color: green;
  color: #ffffff;
}
.item-type {
  right: 0;
  border-radius: 3px;
  font-size: 12px;
}

.card {
    min-height: 100%;
}